/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.nav {
  text-align: center;
}

.navli {
  list-style-type: none;
  display: inline-block;
  margin: 2em;
  font-weight: 400;
  letter-spacing: .5px;
  
}

hr {
  margin-bottom: 30px
}

.prodimg {
  width: 10rem;
  height: 10rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: center
}

div {
  text-align: center;
}

.box {
  text-align: center;
  border: black solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.cartbox{
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 50%;
  height: 8rem;
  display: block;
  float: left;
  margin: 1rem 2rem
}

.cartimg{
  width: 8rem;
  height: 8rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left
}

.checkoutbutton{
  display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-bottom: 12px;
    width: 15%;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    background: rgb(17, 17, 17);
    padding: 10px 18px;
    border-radius: 30px;
}

.total{
  font-weight: 400
}

.cartbutton{
  float: right
}