/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.nav {
  text-align: center
}

.navli {
  list-style-type: none;
  display: inline-block;
  margin: 2em
}

.prodimg{
  width: 10rem;
  height: 10rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: center;
}

.box{
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem
}

.button{
  
}